.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.animationContainer {
  margin: 92px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textWrapper {
  padding: 0 24px 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 8px;
}
