.largeTitle {
  font-size: ~`pxtorem(34)`;
  font-style: normal;
  font-weight: 700;
  line-height: ~`pxtorem(40)`;
  letter-spacing: 0;
}

.title1 {
  font-size: ~`pxtorem(24)`;
  font-style: normal;
  line-height: ~`pxtorem(28)`;
  letter-spacing: 0;
}

.title2 {
  font-size: ~`pxtorem(20)`;
  font-style: normal;
  line-height: ~`pxtorem(28)`;
  letter-spacing: 0;
}

.title3 {
  font-size: ~`pxtorem(18)`;
  font-style: normal;
  line-height: ~`pxtorem(24)`;
  letter-spacing: 0;
}

.callout {
  font-size: ~`pxtorem(15)`;
  font-style: normal;
  line-height: ~`pxtorem(20)`;
  letter-spacing: 0;
}

.headline {
  font-size: ~`pxtorem(17)`;
  font-style: normal;
  line-height: ~`pxtorem(24)`;
  letter-spacing: 0;
}

.body1 {
  font-size: ~`pxtorem(16)`;
  font-style: normal;
  line-height: ~`pxtorem(24)`;
  letter-spacing: 0;
}

.body2 {
  font-size: ~`pxtorem(14)`;
  font-style: normal;
  line-height: ~`pxtorem(20)`;
  letter-spacing: 0;
}

.footnote1 {
  font-size: ~`pxtorem(13)`;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0;
}

.footnote2 {
  font-size: ~`pxtorem(12)`;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semibold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}
